:root {
    --cure-idol: #fe5b9b;
    --cure-wink: #4060ee;
    --cure-kyun: #cd5ffb;
    --cure-zukyoon: #a9f9b5;
    --cure-kiss: #9988f1;

    --cure-hover-bg-color: #666;
    --cure-border-color: #4c4d4f;

    font-size: 22px;
}
